@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.title {
  font-family: $font-serif;
  font-size: 1.5rem;
  font-weight: $fw-bold;
  color: $color-text;
  margin-bottom: 24px;
}
